<div class="container">
  <!-- Rating state start -->
  <div class="rating-card">
    <div class="info">
      <div class="star"><img src="../assets/images/icon-star.svg" alt="" srcset=""></div>

      <h1>How did we do?</h1>
      <p>Please let us know how we did with your support request. All feedback is appreciated
        to help us improve our offering!</p>
    </div>
    <!-- form start -->
    <form class="form" action="">
      <div class="rating">
        <a class="num">
          <p>1</p>
        </a>
        <a class="num">
          <p>2</p>
        </a>
        <a class="num">
          <p>3</p>
        </a>
        <a class="num">
          <p>4</p>
        </a>
        <a class="num">
          <p>5</p>
        </a>
      </div>
      <button class="btn">
        <p>SUBMIT</p>
      </button>
    </form>
    <!-- form end -->
  </div>
  <!-- Rating state end -->

  <!-- Thank you state start -->
  <div class="thanks">
    You selected
    Add rating here
    out of 5

    Thank you!

    We appreciate you taking the time to give a rating. If you ever need more support,
    don’t hesitate to get in touch!
  </div>
  <!-- Thank you state end -->
</div>

<div class="attribution">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
  Coded by <a href="https://github.com/Isma1306/">Ismael Carrea</a>.
</div>