<!-- Rating state start -->
<div class="rating-card">
  <div class="info">
    <div class="star"><img src="../assets/images/icon-star.svg" alt="" srcset=""></div>

    <h1>How did we do?</h1>
    <p>Please let us know how we did with your support request. All feedback is appreciated
      to help us improve our offering!</p>
  </div>
  <!-- form start -->
  <form class="form" action="">
    <div class="rating">
      <ng-container *ngFor="let value of rating.values">
        <a class="num" [ngClass]="{'selectedNum': value === rating.selected}" (click)="selected.emit(value)">
          <p>{{value}}</p>
        </a>
      </ng-container>
    </div>
    <button class="btn">
      <p>SUBMIT</p>
    </button>
  </form>
  <!-- form end -->
</div>
<!-- Rating state end -->